<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="alert alert-danger col-6 offset-3 text-center" role="alert">
    <h4 class="alert-heading"><%= err.message %></h4>
    <p>Something went wrong. Please try again later.</p>
    <hr>
    <p class="mb-0">If the problem persists, please contact support.</p>

  </div>

</div>
