.body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    background-color: #f4f4f4 !important;
    margin: 0;
    padding: 0;
}
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius:1rem !important;
    width: 100% !important;
    object-fit: cover !important;

}
.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.fa-compass-drafting{
    font-size: 2rem;
    color: #dd0d0d;
}

.navbar{
    width: 100%;
    height: 5rem;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f-info-links a{
    text-decoration: none;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links,
.f-info-socials{
    width:100% ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    justify-content: center;
    align-items: space-evenly;
}
.card-body{
    text-decoration: none;
}
.listing-link{
    text-decoration: none;

}

#map{
    border: 200px;
    height: 250px;
    width: 550px;
}